@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.unit{
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin-top: 10%;

}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black;}

#caption{
    float:center;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

#go-back{
    float:left;
    font-family: Roboto;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    padding: 1%;
}

#word{
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
}

#inp{
    font-family: Roboto;
    font-weight: 300;
    padding: 50px;
    width: 500px;
}

#correct{
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    font-size: 100px;
    color:#11998e;
}

#fail{
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    padding: 35px;
    font-size: 100px;
    color:#e64949;
}

#fails{
    float: right;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    color:#e64949;
    padding:1%;
}

#done{
    font-family: Roboto;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    color:#000;
}

#greetings{
    font-family: Roboto;
    font-weight: 500;
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
    color:#000;
}

#recieve{
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color:#000;
}

#main-site{
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    margin-top: 7%;
    font-size: 30px;
    color:#000;
}

#parent{
    border-bottom: 4px 
}

#line{
    padding-top: 3%;
}

#wordlist{
    float:left;
    font-family: Roboto;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    padding: 1%;
}